{% extends 'MainBundle::base.html.twig' %}

{% block body %}

	<header>
		<div class="top-head wrapper">
			<div id="logo" class="col-md-2"><a href="{{ path('main_dashboard') }}"><img src="{{ asset('bundles/main/img/logo-black.png') }}" alt=""></a></div>
			<div id="search" class="search">
				<span class="s-icon"><span class="icon-search"></span></span>
				<input type="text" placeholder="Search" class="search_input">
				<div class="search_box">
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_1">
						<label for="search_1">Resources</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_2">
						<label for="search_2">TV Shows &amp; Broadcast</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_3">
						<label for="search_3">Profiles</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_4">
						<label for="search_4">Services</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_5">
						<label for="search_5">Products</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_6">
						<label for="search_6">Events</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_7">
						<label for="search_7">Apps</label>
					</div>
					<div class="checkbox abc-checkbox">
						<input type="checkbox" value="1" name="cat[]" id="search_8">
						<label for="search_8">Organizations</label>
					</div>
				</div>
			</div>
			<div id="head-user-tab">
				<div class="dropdowns">
					<li class="dropdown notif">
						<span>
							<a href="{{ path('main_dashboard') }}" id="notifPhone" {# data-toggle="dropdown" #}><span class="icon-phone"></span><!--<span class="badge">4</span>--></a>
						</span>
						<ul aria-labelledby="notifPhone" class="dropdown-menu">...</ul>
					</li>
					<li class="dropdown notif"><span id="notifComms" data-toggle="dropdown"><span class="icon-notification"></span><!--<span class="badge">2</span>--></span>
						<ul aria-labelledby="notifComms" class="dropdown-menu">...					</ul>
					</li>
					<li class="dropdown">
						<div id="profile" data-toggle="dropdown" class="user"><img style="width: 48px; height: 48px;" src="{{path('main_user_profile_pic')}}" alt="...">
							<div>
								<h4>{{ app.user.firstname ~ ' ' ~ app.user.lastname }}</h4>Profile<span class="fa fa-angle-down"></span>
								{# <h4>{{ user.firstname ~ ' ' ~ user.lastname }}</h4>Profile<span class="fa fa-angle-down"></span> #}
							</div>
						</div>
						<ul aria-labelledby="profile" class="dropdown-menu">
							<li>
								<a href="{{ path('main_user_profile') }}">Edit</a>
								<a href="{{ path('fos_user_security_logout') }}">Logout</a>
							</li>
						</ul>
					</li>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<ul id="header-menu" class="active-bdr">
				{% set dashboard_types = { 'home': false, 'nutrition': false, 'fitness': false, 'career': false, 'education': false, 'financial': false, 'life': false } %}
				{% set active_link = app.request.get('aim') %}
				{% set username = app.request.get('username') %}
				{% for key, val in dashboard_types %}
					{% set link = (active_link == key) ? true : false %}
					{% set dashboard_types = dashboard_types|merge({ (key): link }) %}
				{% endfor %}

				{% macro category_link(username, aim) %}
					{% if username is not null %}
						{{ path('main_dashboard_index', { username: username, aim: aim }) }}
					{% else %}
						{{ path('main_dashboard', { username: null, aim: aim }) }}
					{% endif %}
				{% endmacro %}

				<li data-color="#f15922" {{ (dashboard_types.home) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'home') }}"><span class="icon-home"></span>Home</a>
				</li>
				<li data-color="#ffc107" {{ (dashboard_types.nutrition) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'nutrition') }}"><span class="icon-nutrition"></span>Nutrition</a>
				</li>
				<li data-color="#ed145b" {{ (dashboard_types.fitness) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'fitness') }}"><span class="icon-fitness"></span>Fitness</a>
				</li>
				<li data-color="#0016eb" {{ (dashboard_types.career) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'career') }}"><span class="icon-career-adv"></span>Career Advancement</a>
				</li>
				<li data-color="#03a9f4" {{ (dashboard_types.education) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'education') }}"><span class="icon-education"></span>Education</a>
				</li>
				<li data-color="#9c27b0" {{ (dashboard_types.financial) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'financial') }}"><span class="icon-fin-management"></span>Financial Management</a>
				</li>
				<li data-color="#39b54a" {{ (dashboard_types.life) ? 'class="active"'}}>
					<a href="{{ _self.category_link(username, 'life') }}"><span class="icon-life-wellness"></span>Life Wellness</a>
				</li>
			</ul>
		</div>
	</header>
	<div class="wrapper">

		<div class="main-container">
			<main class="notifications">
				{% if not dashboard_types.home %}
					<form id="form_filters" data-post-aim="{{ app.request.get('aim') }}">
						<ul class="nav nav-tabs subnavmenu">
							<li class="view-check">
								<div class="checkbox abc-checkbox">
									<input id="checkbox1" type="checkbox" name="dash[favorites]" value="1">
									<label for="checkbox1">Favorites</label>
								</div>
							</li>
							<li class="view-check">
								<div class="checkbox abc-checkbox">
									<input id="checkbox2" type="checkbox" name="dash[content]">
									<label for="checkbox2">With content</label>
								</div>
							</li>
							<li class="view-check">
								<div class="checkbox abc-checkbox">
									<input id="checkbox3" type="checkbox" name="dash[expires]">
									<label for="checkbox3">Expires in </label>
									<select name="dash[expires_id]">
										<option value="604800">1 week</option>
										<option value="2592000">1 month</option>
										<option value="7776000">3 months</option>
										<option value="99999999">more then 3 months</option>
									</select>
								</div>
							</li>
							<li class="active">
								<a data-toggle="tab" href="#notes" data-type="note">Notes</a>
							</li>
							<li>
								<a data-toggle="tab" href="#visions" data-type="vision">Visions</a>
							</li>
							<li>
								<a data-toggle="tab" href="#questions" data-type="question">Questions</a>
							</li>
						</ul>
					</form>
				{% endif %}

				<div class="tab-content">
					{% if dashboard_types.home %}
						<h4>Notifications</h4>
						<ul class="media-list">

						{% if selected_post is defined and selected_post|length > 0 %}
							<li class="media article selected" data-id="{{ selected_post.id }}">
								<div class="media-left"><img src="{{ selected_post.user_pic }}" style="width: 48px; height: 48px" alt="..." class="avatar"></div>
								<div class="media-body">
									{% set visioner = (selected_post.fullname == selected_post.vision_person_name) ? 'himself' : selected_post.vision_person_name %}
									{% set vision_addition = (selected_post.vision_person_name is not empty) ? '<span>to</span> ' ~ visioner : '' %}
									<h5>{{ selected_post.fullname }} <span>posted {# a video #} on {{ selected_post.type }}</span> {{ vision_addition|raw }}</h5>
									<div class="time"><span class="icon-time"></span>{{ selected_post.createdAgo }}</div>
									<div class="media">
										<div class="media-body media-content">
											<h4>{{ selected_post.title }}</h4>
											{% set vision_remaining_status = (selected_post.vision_timer_remaining is defined and selected_post.vision_timer_remaining == 'Expired') ? 'red' : 'green' %}
											<p>{{ selected_post.content|raw }}</p>
											{% if selected_post.image is not empty %}
												<img src="{{ selected_post.image }}" class="media-object">
											{% endif %}
											<div class="post-panel">
												{% if selected_post.vision_timer_remaining is defined %}
													<span class="panel-btn fa fa-heart-o"></span>
													<span class="status {{ vision_remaining_status }}"></span>
													<span>{{ selected_post.vision_timer_remaining }}</span>
												{% endif %}
												<a href="#comments" class="panel-btn view-comments" data-post="{{ selected_post.id }}"><span class="icon-notification"></span> Leave a Comment</a>
												<a href="#reply" class="panel-btn view-reply-body" data-post="{{ selected_post.id }}" data-toggle="modal" data-target="#dashboardPostReply"><span class="fa fa-reply"></span> Reply</a>
												{% set favClass = (selected_post.favorite) ? 'favorite-ok' %}
												<span class="panel-btn favorite-btn {{ favClass }}" data-id="{{ selected_post.id }}"><span class="fa fa-star-o"></span> Favorite</span>
											</div>
											<div class="comments media-list" data-post="{{ selected_post.id }}">
												<div class="input-group leave-comment">
													<textarea placeholder="Write a comment" class="form-control"></textarea>
													<div class="input-group-btn"> 
														<button class="btn btn-link save-comment">Send</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						{% endif %}

						{% set selected_post_id = (selected_post is defined) ? selected_post.id %}
						{% for post in posts if post.id != selected_post_id %}
							<li class="media article" data-id="{{ post.id }}">
								<div class="media-left"><img src="{{ post.user_pic }}" style="width: 48px; height: 48px" alt="..." class="avatar"></div>
								<div class="media-body">
									{% set visioner = (post.user_id != post.vision_person_id) ? post.vision_person_name %}
									{% set visioner = (visioner and post.vision_person_url is defined) ? '<span>to </span><a href="'~post.vision_person_url~'">' ~ visioner ~ '</a>' %}

									<h5>{{ post.fullname }} <span>posted {# a video #} on {{ post.type }}</span> {{ visioner|raw }}</h5>
									<div class="time"><span class="icon-time"></span>{{ post.createdAgo }}</div>
									<div class="media">
										<div class="media-body media-content">
											<h4>{{ post.title }}</h4>
											{% set vision_remaining_status = (post.vision_timer_remaining is defined and post.vision_timer_remaining == 'Expired') ? 'red' : 'green' %}
											<p>{{ post.content|raw }}</p>
											{% if post.image is not empty %}
												<img src="{{ post.image }}" class="media-object">
											{% endif %}
											<div class="post-panel">
												{% if post.vision_timer_remaining is defined %}
													<span class="panel-btn fa fa-heart-o"></span>
													<span class="status {{ vision_remaining_status }}"></span>
													<span>{{ post.vision_timer_remaining }}</span>
												{% endif %}
												<a href="#comments" class="panel-btn view-comments" data-post="{{ post.id }}"><span class="icon-notification"></span> Leave a Comment</a>

												{% if app.user.id != post.user_id %}
													<a data-aim="{{ post.aim }}" data-user-id="{{ post.user_id }}" href="#reply" class="panel-btn view-reply-body" data-post="{{ post.id }}" data-toggle="modal" data-target="#dashboardPostReply"><span class="fa fa-reply"></span> Reply</a>
													{% set favClass = (post.favorite) ? 'favorite-ok' %}
													<span class="panel-btn favorite-btn {{ favClass }}" data-id="{{ post.id }}"><span class="fa fa-star-o"></span> Favorite</span>
												{% endif %}
											</div>
											<div class="comments media-list" data-post="{{ post.id }}">
												<div class="input-group leave-comment">
													<textarea placeholder="Write a comment" class="form-control"></textarea>
													<div class="input-group-btn"> 
														<button class="btn btn-link save-comment">Send</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						{% endfor %}
						</ul>

						{% if posts|length == 5 %}
							<button class="view-all posts">View More</button>
						{% endif %}
					{% else %}
						<div id="notes" class="tab-pane fade in active">
							<div class="newpost">
								<button class="new-post" data-type="note">Create a Post</button>
							</div>
							<div class="message-box" data-type="note">
								<form action="{{ path('main_ajax_post') }}" method="POST" enctype="multipart/form-data" class="dashboardPostSubmit" data-aim="{{ app.request.get('aim') }}">
									<input type="hidden" name="form[type]" value="note">
									<input type="hidden" name="form[aim]" value="{{ app.request.get('aim') }}">
									<div class="form-group">
										<input type="text" placeholder="Title of Notes" class="form-control" name="form[title]">
									</div>
									<div class="form-group">
										<textarea placeholder="Text" class="form-control" name="form[content]"></textarea>
									</div>
									<div class="panel-text">
										<div class="dash-btn-group"><a class="btn btn-link" title="Choose a file to upload"><label for="file_note"><span class="icon-photo-cam"></span></label><input id="file_note" type="file" name="file" title="Choose a file to upload" accept="image/*" multiple="0" alt="Upload Photo" class="media-post-file"></a><a href="#" class="btn btn-link"><span class="icon-video-cam"></span></a></div>

										<button type="reset" class="cancel-btn">Cancel</button>
										<button type="submit" class="publish-btn">Publish</button>
									</div>
								</form>
							</div>

							{# articles #}
							<ul class="media-list">
								{% for post in posts.notes if post.type == 'note' %}
									<li class="media article" data-id="{{ post.id }}">
										<div class="media-left"><img src="{{ post.user_pic }}" style="width: 48px; height: 48px" alt="..." class="avatar"></div>
										<div class="media-body">
											{% set visioner = (post.user_id != post.vision_person_id) ? post.vision_person_name %}
											{% set visioner = (visioner and post.vision_person_url is defined) ? '<span>to </span><a href="'~post.vision_person_url~'">' ~ visioner ~ '</a>' %}

											<h5>{{ post.fullname }} <span>posted {# a video #} on {{ post.type }}</span> {{ visioner|raw }}</h5>
											<div class="time"><span class="icon-time"></span>{{ post.createdAgo }}</div>
											<div class="media">
												<div class="media-body media-content">
													<h4>{{ post.title }}</h4>
													{% set vision_remaining_status = (post.vision_timer_remaining is defined and post.vision_timer_remaining == 'Expired') ? 'red' : 'green' %}
													<p>{{ post.content|raw }}</p>
													{% if post.image is not empty %}
														<img src="{{ post.image }}" class="media-object">
													{% endif %}
													<div class="post-panel">
														{% if post.vision_timer_remaining is defined %}
															<span class="panel-btn fa fa-heart-o"></span>
															<span class="status {{ vision_remaining_status }}"></span>
															<span>{{ post.vision_timer_remaining }}</span>
														{% endif %}
														<a href="#comments" class="panel-btn view-comments" data-post="{{ post.id }}"><span class="icon-notification"></span> Leave a Comment</a>
														{% if app.user.id != post.user_id %}
															<span class="panel-btn"><span class="fa fa-reply"></span> Reply</span>
															{% set favClass = (post.favorite) ? 'favorite-ok' %}
															<span class="panel-btn favorite-btn {{ favClass }}"><span class="fa fa-star-o"></span> Favorite</span>
														{% endif %}
														<a href="https://www.facebook.com/sharer/sharer.php?u=http://iaim.varunlabs.com{{ post.url }}" class="panel-btn " target="_blank" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
														<a href="https://twitter.com/home?status={{ post.title}} http://iaim.varunlabs.com{{ post.url }}" class="panel-btn " target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													</div>
													<div class="comments media-list" data-post="{{ post.id }}">
														<div class="input-group leave-comment">
															<textarea placeholder="Write a comment" class="form-control"></textarea>
															<div class="input-group-btn"> 
																<button class="btn btn-link save-comment">Send</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								{% else %}
									<div class="text-center no-posts">You haven't posted anything yet...</div>
								{% endfor %}
							</ul>

							{% if posts.notes|length == 5 %}
								<button class="view-all posts" data-post-type="note" data-post-aim="{{ app.request.get('aim') }}">View All</button>
							{% endif %}
						</div>

						<div id="visions" class="tab-pane fade">
							<div class="newpost">
								<button class="new-post" data-type="vision">Create a Post</button>
							</div>
							<div class="message-box" data-type="vision">
								<form action="{{ path('main_ajax_post') }}" method="POST" enctype="multipart/form-data" class="dashboardPostSubmit" data-aim="{{ app.request.get('aim') }}">
									<input type="hidden" name="form[type]" value="vision">
									<input type="hidden" name="form[aim]" value="{{ app.request.get('aim') }}">
									<div class="form-group">
										<input type="text" placeholder="Title of Notes" class="form-control" name="form[title]">
									</div>
									<div class="form-group">
										<textarea placeholder="Text" class="form-control" name="form[content]"></textarea>
									</div>
									<div class="panel-text">
										<div><a href="#" class="btn btn-link"><span class="icon-permalink"></span></a><a href="#" class="btn btn-link"><span class="icon-photo-cam"></span></a><a href="#" class="btn btn-link"><span class="icon-video-cam"></span></a></div>
										<div id="is-public">
											<select data-width="auto" class="selectpicker" name="form[public]">
												<option value="true">Public</option>
												<option value="false">Private</option>
											</select>
										</div>
										<div>
											<input id="plate_id" type="hidden" name="form[vision_person_id]">
											<input id="plate" type="text" name="form[vision_person]">
										</div>
										<div>
											<input id="datetimepicker2" type="text" class="form-control" name="form[vision_timer]">
										</div>
										<button type="reset" class="cancel-btn">Cancel</button>
										<button type="submit" class="publish-btn">Publish</button>
									</div>
								</form>
							</div>

							{# articles #}
							<ul class="media-list">
								{% for post in posts.visions if post.type == 'vision' %}
									<li class="media article" data-id="{{ post.id }}">
										<div class="media-left"><img src="{{ post.user_pic }}" style="width: 48px; height: 48px" alt="..." class="avatar"></div>
										<div class="media-body">
											{% set visioner = (post.user_id != post.vision_person_id) ? post.vision_person_name %}
											{% set visioner = (visioner and post.vision_person_url is defined) ? '<span>to </span><a href="'~post.vision_person_url~'">' ~ visioner ~ '</a>' %}

											<h5>{{ post.fullname }} <span>posted {# a video #} on {{ post.type }}</span> {{ visioner|raw }}</h5>
											<div class="time"><span class="icon-time"></span>{{ post.createdAgo }}</div>
											<div class="media">
												<div class="media-body media-content">
													<h4>{{ post.title }}</h4>
													{% set vision_remaining_status = (post.vision_timer_remaining is defined and post.vision_timer_remaining == 'Expired') ? 'red' : 'green' %}
													<p>{{ post.content|raw }}</p>
													{% if post.image is not empty %}
														<img src="{{ post.image }}" class="media-object">
													{% endif %}
													<div class="post-panel">
														{% if post.vision_timer_remaining is defined %}
															<span class="panel-btn fa fa-heart-o"></span>
															<span class="status {{ vision_remaining_status }}"></span>
															<span>{{ post.vision_timer_remaining }}</span>
														{% endif %}
														<a href="#comments" class="panel-btn view-comments" data-post="{{ post.id }}"><span class="icon-notification"></span> Leave a Comment</a>
														{% if app.user.id != post.user_id %}
															<span class="panel-btn"><span class="fa fa-reply"></span> Reply</span>
															{% set favClass = (post.favorite) ? 'favorite-ok' %}
															<span class="panel-btn favorite-btn {{ favClass }}"><span class="fa fa-star-o"></span> Favorite</span>
														{% endif %}
														<a href="https://www.facebook.com/sharer/sharer.php?u=http://iaim.varunlabs.com{{ post.url }}" class="panel-btn " target="_blank" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
														<a href="https://twitter.com/home?status={{ post.title}} http://iaim.varunlabs.com{{ post.url }}" class="panel-btn " target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													</div>
													<div class="comments media-list" data-post="{{ post.id }}">
														<div class="input-group leave-comment">
															<textarea placeholder="Write a comment" class="form-control"></textarea>
															<div class="input-group-btn"> 
																<button class="btn btn-link save-comment">Send</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								{% else %}
									<div class="text-center no-posts">You haven't posted anything yet...</div>
								{% endfor %}
							</ul>

							{% if posts.visions|length == 5 %}
								<button class="view-all posts" data-post-type="vision" data-post-aim="{{ app.request.get('aim') }}">View All</button>
							{% endif %}
						</div>

						<div id="questions" class="tab-pane fade">
							<div class="newpost">
								<button class="new-post" data-type="question">Create a Post</button>
							</div>
							<div class="message-box" data-type="question">
								<form action="{{ path('main_ajax_post') }}" method="POST" enctype="multipart/form-data" class="dashboardPostSubmit" data-aim="{{ app.request.get('aim') }}">
									<input type="hidden" name="form[type]" value="question">
									<input type="hidden" name="form[aim]" value="{{ app.request.get('aim') }}">
									<div class="form-group">
										<input type="text" placeholder="Title of Notes" class="form-control" name="form[title]">
									</div>
									<div class="form-group">
										<textarea placeholder="Text" class="form-control" name="form[content]"></textarea>
									</div>
									<div class="panel-text">
										<div><a href="#" class="btn btn-link"><span class="icon-permalink"></span></a><a href="#" class="btn btn-link"><span class="icon-photo-cam"></span></a><a href="#" class="btn btn-link"><span class="icon-video-cam"></span></a></div>

										<button type="reset" class="cancel-btn">Cancel</button>
										<button type="submit" class="publish-btn">Publish</button>
									</div>
								</form>
							</div>

							{# articles #}
							<ul class="media-list">
								{% for post in posts.questions if post.type == 'question' %}
									<li class="media article" data-id="{{ post.id }}">
										<div class="media-left"><img src="{{ post.user_pic }}" style="width: 48px; height: 48px" alt="..." class="avatar"></div>
										<div class="media-body">
											{% set visioner = (post.user_id != post.vision_person_id) ? post.vision_person_name %}
											{% set visioner = (visioner and post.vision_person_url is defined) ? '<span>to </span><a href="'~post.vision_person_url~'">' ~ visioner ~ '</a>' %}

											<h5>{{ post.fullname }} <span>posted {# a video #} on {{ post.type }}</span> {{ visioner|raw }}</h5>
											<div class="time"><span class="icon-time"></span>{{ post.createdAgo }}</div>
											<div class="media">
												<div class="media-body media-content">
													<h4>{{ post.title }}</h4>
													{% set vision_remaining_status = (post.vision_timer_remaining is defined and post.vision_timer_remaining == 'Expired') ? 'red' : 'green' %}
													<p>{{ post.content|raw }}</p>
													{% if post.image is not empty %}
														<img src="{{ post.image }}" class="media-object">
													{% endif %}
													<div class="post-panel">
														{% if post.vision_timer_remaining is defined %}
															<span class="panel-btn fa fa-heart-o"></span>
															<span class="status {{ vision_remaining_status }}"></span>
															<span>{{ post.vision_timer_remaining }}</span>
														{% endif %}
														<a href="#comments" class="panel-btn view-comments" data-post="{{ post.id }}"><span class="icon-notification"></span> Leave a Comment</a>
														{% if app.user.id != post.user_id %}
															<span class="panel-btn"><span class="fa fa-reply"></span> Reply</span>
															{% set favClass = (post.favorite) ? 'favorite-ok' %}
															<span class="panel-btn favorite-btn {{ favClass }}"><span class="fa fa-star-o"></span> Favorite</span>
														{% endif %}
														<a href="https://www.facebook.com/sharer/sharer.php?u=http://iaim.varunlabs.com{{ post.url }}" class="panel-btn " target="_blank" ><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
														<a href="https://twitter.com/home?status={{ post.title}} http://iaim.varunlabs.com{{ post.url }}" class="panel-btn " target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
													</div>
													<div class="comments media-list" data-post="{{ post.id }}">
														<div class="input-group leave-comment">
															<textarea placeholder="Write a comment" class="form-control"></textarea>
															<div class="input-group-btn"> 
																<button class="btn btn-link save-comment">Send</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								{% else %}
									<div class="text-center no-posts">You haven't posted anything yet...</div>
								{% endfor %}
							</ul>

							{% if posts.questions|length == 5 %}
								<button class="view-all posts" data-post-type="question" data-post-aim="{{ app.request.get('aim') }}">View All</button>
							{% endif %}
						</div>

						<div id="filters" class="tab-pane fade">
							{# articles #}
							<ul class="media-list">
								
							</ul>

							<button class="view-all posts hidden" data-post-type="filter" data-post-aim="{{ app.request.get('aim') }}" data-filter="true">View All</button>
							
						</div>


					{% endif %}
					
				</div>
			</main>

			<aside class="sidebar">
				<div class="widget participants">
					<h4>Participants</h4>
					{% for friend in online.users if online.users|length > 0 %}
						<div class="media">
							<div class="media-left"><a href="#"><img src="{{ friend.profile_pic }}" alt="..." class="media-object" style="width: 48px; height: 48px;"></a></div>
							<div class="media-body">
								<h5 class="media-heading"><a href="#">{{ friend.fullname }}</a></h5>
								<div class="status online"></div>
							</div>
						</div>
					{% else %}
						<center><h5>your friends don't have any activity</h5></center>
					{% endfor %}
				</div>
				<div class="widget notifications">
					<h4>Notifications</h4>
					{% if notifications is not empty %}
						{% for n in notifications %}
							{% set vision_remaining_status = (n.vision_timer_d is defined and n.vision_timer_d == 'Expired') ? 'red' : 'green' %}
							<div class="media {{ vision_remaining_status }}" data-id="{{ n.id }}">
								<div class="media-left"><a href="#"><img src="{{ n.user_pic }}" style="width: 48px; height: 48px;" alt="..." class="media-object"></a></div>
								<div class="media-body">
									<h5 class="media-heading"><a href="{{ n.url }}">{{ n.title }}</a></h5>
									<p>{{ n.content }}</p>
									<div class="time"><span class="icon-time"></span>{{ n.created_on_d }}</div>
									<div class="info"><span class="fa fa-star-o"></span><span class="icon-trash remove-notification"></span></div>
								</div>
							</div>

							{% if loop.last %}
								<button class="view-all notifications">View All</button>
							{% endif %}
						{% endfor %}
					{% else %}
						{{ 'You don\'t have any notifications' }}
					{% endif %}

					
				</div>
			</aside>
		</div>
	</div>
	<footer></footer>
	<div id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="fa fa-times"> </span></button>
					<h4 class="modal-title"><img src="{{ asset('bundles/main/img/logo-black.png') }}" alt=""></h4>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>
	<div id="successRegist" tabindex="-1" role="dialog" aria-labelledby="successRegist" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="fa fa-times"> </span></button>
					<h4 class="modal-title"><img src="{{ asset('bundles/main/img/logo-black.png') }}" alt=""></h4>
				</div>
				<div class="modal-body">
					<div class="text-center"><img src="{{ asset('bundles/main/img/congrats.png') }}" alt="">
						<h2>Awesome !</h2>
						<p>You are one step closer to your vision becoming a reality.</p>
						<p>We will keep you posted on your journey</p>
						<div class="share-btn">
							<button class="fb"><i class="fa fa-facebook"></i><span>Share in Facebook</span></button>
						</div>
						<div class="share-btn">
							<button class="tt"><i class="fa fa-twitter"></i><span>Share in Twitter</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="track-progress" tabindex="-1" role="dialog" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body active-bg">
					<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="fa fa-times"> </span></button>
					<h2>Track Progress</h2>
					<h4>Progress on my Top Aims</h4>
					<ul class="nav nav-pills nav-justified">
						<li data-color="#ffc107" class="active"><a href="#nutrition" data-toggle="tab"><span class="icon-nutrition"></span></a></li>
						<li data-color="#ed145b"><a href="#fitness" data-toggle="tab"><span class="icon-fitness"></span></a></li>
						<li data-color="#0016eb"><a href="#career-adv" data-toggle="tab"><span class="icon-career-adv"></span></a></li>
						<li data-color="#03a9f4"><a href="#education" data-toggle="tab"><span class="icon-education"></span></a></li>
						<li data-color="#9c27b0"><a href="#fin-management" data-toggle="tab"><span class="icon-fin-management"></span></a></li>
						<li data-color="#39b54a"><a href="#life-wellness" data-toggle="tab"><span class="icon-life-wellness"></span></a></li>
					</ul>
					<h4>Progress on my Top Aims</h4>
					<div class="tab-content">
						<ul id="nutrition" class="tab-pane active do-now-items">
							<li class="active">01. Add New Notes to your Career</li>
							<li>02. Read the Articles on Health</li>
							<li>03. Talk to the Guy on special days</li>
							<li>04. Upload a Video for my websit...</li>
						</ul>
						<ul id="fitness" class="tab-pane do-now-items">
							<li class="active">1. Add New Notes to your Career</li>
							<li>2. Read the Articles on Health</li>
							<li>3. Talk to the Guy on special days</li>
							<li>4. Upload a Video for my websit...</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dashboardPostReply" tabindex="-1" role="dialog" aria-labelledby="dashboardPostReply" class="modal fade">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-body">
					<div class="message-box" data-type="note" style="display: block;">
						<form action="{{ path('main_ajax_post') }}" method="POST" enctype="multipart/form-data" class="dashboardPostSubmit" data-aim="{{ app.request.get('aim') }}">
							<input type="hidden" name="form[type]" value="reply">
							<input type="hidden" name="form[aim]" value="{{ app.request.get('aim') }}">
							<input type="hidden" name="form[userId]" value="">
							<div class="form-group">
								<input type="text" placeholder="Title of Notes" class="form-control" name="form[title]">
							</div>
							<div class="form-group">
								<textarea placeholder="Text" class="form-control" name="form[content]"></textarea>
							</div>
							<div class="panel-text">
								<div class="dash-btn-group"><a class="btn btn-link" title="Choose a file to upload"><label for="file_reply"><span class="icon-photo-cam"></span></label><input id="file_reply" type="file" name="file" title="Choose a file to upload" accept="image/*" multiple="0" alt="Upload Photo" class="media-post-file"></a><a href="#" class="btn btn-link"><span class="icon-video-cam"></span></a></div>

								{# <button type="reset" class="cancel-btn">Cancel</button> #}
								<button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="publish-btn">Publish</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% block javascripts %}
		{% javascripts filter="?jsqueeze" output="js/ejs.js"
			'@MainBundle/Resources/public/js/ejs_production.js'
		%}<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<script type="text/javascript">
			var article_template, comment_template, notification_template, uid;
			article_template = "{{ asset('bundles/main/templates/article.ejs') }}";
			comment_template = "{{ asset('bundles/main/templates/comment.ejs') }}";
			notification_template = "{{ asset('bundles/main/templates/notification.ejs') }}";
			uid = {{ app.user.id }};
		</script>
	{% endblock %}

{% endblock %}
